/// <reference path="../client.scss" />

// Global alerts

.weavy-alert-message {
    padding: rem(.25) rem(.5);
    background-color: $client-alert-background;
    text-align: center;
    width: $client-panel-width;
    color: $client-alert-color;
    border-radius: rem(.1875);
    margin: 0 auto;
    margin-top: rem(1);
    font-family: $font-family-base;
    position: relative;
    z-index: 10;
    box-shadow: $md-shadow-8dp;
    max-width: calc(100% - 3rem);
    pointer-events: none;
    user-select: none;

    a {
        color: darken($client-alert-color, 10%);
        text-decoration: $link-decoration;
        font-weight: $alert-link-font-weight;
        pointer-events: auto;
    }

    &.fade {
        transition: all $md-animation-duration $md-animation-curve-default;
        opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;

        &.in {
            transition: opacity $md-animation-duration $md-animation-curve-default;
            opacity: 1;
            height: auto;
            padding-top: rem(.5);
            padding-bottom: rem(.5);
            margin-top: rem(1);
        }
    }

    .btn {
        cursor: pointer;
        display: inline-flex;
        flex-shrink: 0;
        flex-grow: 0;

        > * {
            display: inline-flex;
        }

        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .3125rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .1875rem;
        color: $white;
        background-color: $primary;
        border-color: $primary;
        box-shadow: $btn-box-shadow;
        margin-top: .5rem;
    }
}
