/// <reference path="../client.scss" />

// Full window preview mode

.weavy-overlay {
    .weavy-panels.weavy-preview {
        pointer-events: none;
        width: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: none;

        .weavy-panel-frame {
            background-color: rgba(mix($black, #000), $opacity-panel);
        }
    }
}
