/// <reference path="../_core.scss" />

body.app-88f96a08-c6c1-4eac-a0bd-5bf8fba1a3fd, // comments app
body.controller-comments.action-get {
    main, .cover {
        > .container {
            max-width: map-get($grid-breakpoints, sm);
        }
    }

    .comment {
        padding-top: 0;
    }
}

.section-comments {
    .meeting-dropup {
        .dropdown-menu {
            right: 0;
        }
    }

    .meetings {
        svg.spinner{
            margin:0 auto;
        }
    }
}

.comment {
    background-color: inherit;
    border: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    .media-body {
        line-height: $line-height-base;
    }

    .comment-body {
        table {
            @extend .table, .table-bordered, .table-sm;
            margin-bottom: $card-spacer-y !important;
        }
    }

    .image-grid {
        margin: $card-spacer-y 0;
    }

    .file-list {
        margin: $card-spacer-y 0;

        small {
            font-size: $font-size-sm;
        }
    }

    .card-meetings {
        padding: 0;

        .list-group-item {
            background: #fff;
        }
    }

    
}

.comment-feedback {
    .btn {
        position: relative;
        bottom: .125rem;
    }
}

.fake-comment {
    .media-title {
        flex: 1;
    }

    .fake-user {
        width: 2rem; // 32px;
        height: 2rem; // 32px;
        background: $theme-300;
        border-radius: 50%;
        margin-right: 10px;
    }

    .fake-text {
        height: .5rem;
        margin-bottom: .5rem;
        background: linear-gradient(91deg, $theme-300, $theme-200, $theme-300);
        background-size: 300% 300%;
        -webkit-animation: faketext-animation 4s ease infinite;
        -moz-animation: faketext-animation 4s ease infinite;
        animation: faketext-animation 4s ease infinite;

        &.fake-text-25 {
            width: 25%;
        }

        &.fake-text-50 {
            width: 50%;
        }

        &.fake-text-75 {
            width: 75%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url("/img/spinner.svg");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 3rem; // 48px;
            background-color: #fff;
            opacity: $opacity-faded;
        }

        @-webkit-keyframes faketext-animation {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 51%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @-moz-keyframes faketext-animation {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 51%
            }

            100% {
                background-position: 0% 50%
            }
        }

        @keyframes faketext-animation {
            0% {
                background-position: 0% 50%
            }

            50% {
                background-position: 100% 51%
            }

            100% {
                background-position: 0% 50%
            }
        }
    }
}
