// Emojione styles

.eo {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    min-width: 1.25rem;
    min-height: 1.25rem;
    line-height: normal;
    margin-top: -.375ex;
    vertical-align: middle;
}
