/// <reference path="../_core.scss" />

// files in posts, messages and comments
.file-list {

    .list-group-item {
        background-color: #fff;
        padding: .5rem;

        .media {
            align-items: center;
        }

        .media-body {
            line-height: $line-height-base;
        }

        .media-title {
            font-weight: 500;
            margin: 0;
        }
    }
}
