/// <reference path="../_core.scss" />
.form-control {
    &::placeholder {
        font-size: $font-size-sm;
        line-height: $font-size-base * $line-height-base;
        font-weight: $font-weight-light;
    }
}

.form-text {
    font-size: .875rem;
    color: $text-muted;
}

.field-validation-error {
    color: $danger;
}

// form buttons
.form-buttons {
    @extend .d-flex;
    align-items: center;
    margin: 1.5rem 0;

    > .btn:not(:last-child),
    > .btn-group:not(:last-child) {
        margin-right: .5rem;
    }
}

legend {
    font-size: 1.25rem;
}

// form for live search (used in add space members etc.)
.search-form {

    .form-group {
        //margin: .5rem;
        position: relative;
    }

    .form-control {
        padding-right: 2rem;
        box-shadow: none;
        border-color: $border-color;

        &::-ms-clear {
            display: none;
        }
    }

    .btn-icon {
        color: $text-muted;
        position: absolute;
        top: .25rem;
        right: .25rem;

        &:active {
            box-shadow: none;
        }
    }

    .btn-reset {
        display: none;
    }

    &.searching {
        .btn-search {
            display: none;
        }

        .btn-reset {
            display: inline-flex;

            .spinner {
                display: inline-flex;
                margin:0;
            }

            .i-close {
                display: none;
            }
        }
    }

    &.reset {
        .btn-search {
            display: none;
        }

        .btn-reset {
            display: inline-flex;

            .spinner {
                display: none;
            }

            .i-close {
                display: inline-flex;
            }
        }
    }
}
