/// <reference path="../_core.scss" />

@include media-breakpoint-down(xs) {
    html:not(.embedded) {
        .container, .container-fluid {
            padding-left: #{$grid-gutter-width/2 + $edge-margin};
            padding-right: #{$grid-gutter-width/2 + $edge-margin};
        }
    }
}
