/// <reference path="../_core.scss" />

// images in posts, messages and comments
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $card-bg;


    &[data-image-count="1"] {
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $card-border-color;
        background-clip: content-box;
        border: $card-border-width solid transparent;
        pointer-events: none;
        border-radius: inherit;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: $card-border-width solid $card-border-color;
        pointer-events: none;
        border-radius: inherit;
    }

    &[data-image-count="1"] {
        &::before {
            border: none;
        }

        &::after {
            border: none;
        }
    }


    .image {
        padding: 0;
        width: 50%;
        position: relative;
        margin: 0 $card-border-width $card-border-width 0;
        flex: auto;
        background-color: inherit;
        background-clip: content-box;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }

        &:nth-last-child(2) {
            margin-bottom: 0;
        }

        &:first-child:nth-last-child(3) {
            margin-right: 0;
        }

        > * {
            display: block;
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }

        .more {
            position: absolute;
            line-height: 100%;
            color: #fff;
            background: rgba(0,0,0,0.5);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
        }
    }
}
