/// <reference path="../_core.scss" />

// manage menu
@include media-breakpoint-up(xl) {

    .nav-menu {
        position: static !important;

        .dropdown-menu, &.show .dropdown-menu, .dropdown-menu.open, &.show .dropdown-menu.open {
            top: $navbar-height !important;
            left: 0 !important;
            transform: translateX(-90%) scale(1, 0.8) !important;
            transform-origin: 100% 0%;
            display: block;
            transition: transform 0.45s step-end, opacity 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
            will-change: opacity, transform;
            flex-direction: column;
            opacity: 0;
            max-height: calc(100vh - #{$navbar-height});
            width: $sidebar-left-width;
            border-radius: 0;
            border-top: 0;
            border-bottom: 0;
            pointer-events: none;
            //mix-blend-mode: darken;
            height: calc(100vh - #{$navbar-height});
            background-color: $dropdown-bg;
            margin: 0 !important;
        }
    }
}

// fullscreen on mobile+touch
@include media-breakpoint-down(sm) {
    .mobile.touch {

        .nav-menu {

            &::before {
                // backdrop
                backface-visibility: hidden;
                background: rgba($black, 0.5);
                position: fixed;
                z-index: $zindex-modal-backdrop;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                opacity: 0;
                transition: opacity .2s;
                pointer-events: none;
            }

            &.show {
                position: relative;

                &::before {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .dropdown-menu {
                position: fixed !important;
                top: 4rem !important;
                left: 6rem !important;
                right: 6rem !important;
                bottom: auto;
                width: auto;
                z-index: $zindex-modal;
                background-color: $white;
                max-height: calc(100% - 4rem - 4rem);
                overflow-y: auto;
            }

            .dropdown-item {
                border-bottom: $border-width solid $dropdown-divider-bg;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .mobile.touch {
        .nav-menu {
            &.show {
                .dropdown-menu {
                    left: 1.5rem !important;
                    right: 1.5rem !important;
                }
            }
        }
    }
}
