/// <reference path="../_core.scss" />

.navbar {
    backface-visibility: hidden;
    flex-wrap: nowrap;
    height: $navbar-height;

    @if($enable-backdrop-filter) {
        @supports(backdrop-filter: $backdrop-filter) {
            backdrop-filter: $backdrop-filter;
        }
    }
    //justify-content: flex-start;
    // fix for .dropdown-menu-right in navbar, see https://github.com/twbs/bootstrap/issues/23308
    .dropdown-menu-right {
        left: auto;
        right: 0;
    }

    > .nav-tabs:first-child {
        margin-left: -$navbar-padding-x;
    }

    > .nav-tabs:last-child {
        margin-right: -$navbar-padding-x;
    }

    > .nav-tabs {
        margin-top: -$navbar-padding-y;
        margin-bottom: -$navbar-padding-y;
    }
    /*
    // According to MD, but aligns badly with layout
    > .nav-tabs-cluster:first-child, .navbars & > .nav-tabs:first-child {
        padding-left: $navbar-padding-x;
    }

    > .nav-tabs-cluster:last-child, .navbars & > .nav-tabs:last-child {
        padding-right: $navbar-padding-x;
    }
*/
}

.navbars {
    @if($enable-backdrop-filter) {
        @supports(backdrop-filter: $backdrop-filter) {
            backdrop-filter: $backdrop-filter;

            > .navbar {
                backdrop-filter: none;
            }
        }
    }
}

.navbar-light {
    background-color: rgba($panel-bg, $opacity-panel);
    color: $panel-color;
    border-bottom: $border-width solid $border-color;

    @if($enable-backdrop-filter) {
        @supports(backdrop-filter: $backdrop-filter) {
            background-color: rgba($panel-bg, $opacity-backdrop);
        }
    }
}

.navbar-dark {
    background-color: rgba($black, $opacity-backdrop);
    color: color-yiq($black);
    border-bottom: $border-width solid $border-color-dark;
    //justify-content: flex-start;
    .btn-icon {
        color: color-yiq($black);
    }

    .nav-link {
        color: color-yiq($black);
        padding: .25rem 0;

        &.active {
            color: color-yiq($black);
        }
    }
}

.navbar-theme {
    $backdrop-theme-color: mix(saturate($theme-700, 42%), saturate($theme-900, 42%), 58%);

    background: linear-gradient(to bottom, $theme-700, rgba($backdrop-theme-color, $opacity-panel));
    color: color-yiq($theme-700);

    @if($enable-backdrop-filter) {
        @supports(backdrop-filter: $backdrop-filter) {
            background: linear-gradient(to bottom, $theme-700, rgba($backdrop-theme-color, $opacity-backdrop-theme));
        }
    }

    .navbar + & {
        background: rgba($backdrop-theme-color, $opacity-panel);

        @if($enable-backdrop-filter) {
            @supports(backdrop-filter: $backdrop-filter) {
                background: rgba($backdrop-theme-color, $opacity-backdrop-theme);
            }
        }
    }

    .btn-icon {
        color: color-yiq($theme-700);
    }
}

.navbar-icons {
    display: flex;
    flex: 1 0 2rem;
    // fix for .dropdown-menu-right in navbar, see https://github.com/twbs/bootstrap/issues/23308
    .dropdown-menu-right {
        left: auto;
        right: 0;
    }

    &:not(:first-child):last-child {
        justify-content: flex-end;

        > :not(:first-child) {
            margin-left: .5rem;
        }
    }

    .badge{
        align-self:center;
    }
}

.navbar-middle {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    min-width: 0;

    .navbar-text {
        padding: 0;
        display: inline-block;
        @include text-truncate();
        color: inherit !important;
        user-select: none;
    }

    .dropdown {
        position: static;
        line-height: 1;
        display: flex;
        min-width: 0;

        .dropdown-toggle {
            background: transparent;
            border: 0;
            color: color-yiq($theme-700);
            padding: 0;
            flex: 0 1 auto;
            min-width: 0;

            &:active, &:focus {
                box-shadow: none;
                outline: none;
            }

            .badge {
                top: .25rem;
                margin-left: .25rem;
            }

            .i {
                margin: 0 !important;
            }
        }

        .dropdown-menu {
            top: 0;
            left: .25rem;
            right: .25rem;
            margin-left: auto;
            margin-right: auto;
            max-width: none;
            padding: 0;

            @include media-breakpoint-up(sm) {
                max-width: 20rem;
                width: 20rem;
            }

            .scroll-y {
                max-height: calc(100vh - .5rem);
                padding-bottom: $dropdown-padding-y;
            }
        }

        &.show {
            .dropdown-toggle {
                opacity: $opacity-hover;
            }

            .dropdown-header {
                font-size: $font-size-base;
                padding: $dropdown-padding-y $dropdown-item-padding-x $dropdown-item-padding-y $dropdown-item-padding-x;
                display: flex;
                justify-content: center;
                align-content: center;
                position: sticky;
                background: rgba($dropdown-bg, $opacity-panel);
                top: 0;

                .dropdown {
                    padding-top: .5rem;
                    cursor: pointer;

                    .i {
                        margin-top: -.25rem;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .dropdown-backdrop::before {
            display: none !important;
        }
    }

    .dropdown-backdrop::before {
        z-index: 3;
    }
}

.navbar-title {
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.offset-navbar {
    margin-top: -$navbar-height;
}

.offset-navbar-secondary {
    margin-top: #{-2 * $navbar-height};
}

.padding-navbar {
    padding-top: $navbar-height;

    &.os-host > .os-scrollbar-vertical {
        top: $navbar-height;
    }
}

.padding-navbar-secondary {
    padding-top: #{2 * $navbar-height};

    &.os-host > .os-scrollbar-vertical {
        top: #{2 * $navbar-height};
    }
}

.compensate-navbar {
    @extend .offset-navbar, .padding-navbar;
}

.compensate-navbar-secondary {
    @extend .offset-navbar-secondary, .padding-navbar-secondary;
}
