/// <reference path="../_core.scss" />

// override default settings from ../vendor/photoswipe/_main-settings.scss
$pswp__background-color: $black;
$pswp__placeholder-color: $body-bg;
$pswp__assets-path: '../styles/vendor/photoswipe/default-skin/'; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: $danger; // "Image not loaded" text color

@import "../vendor/photoswipe/main";
@import "../vendor/photoswipe/default-skin/default-skin";

.pswp {
    @include overscroll-behavior-contain;
}
