/// <reference path="../_core.scss" />

.table {

    th, td {
        padding-left: .25rem;
        padding-right: .25rem;

        &:first-child {
            padding-left: .5rem;
        }

        &:last-child {
            padding-right: .5rem;
        }

        &.table-icon {
            // cell with .img-32 or .btn-icon
            line-height: 0;
            color: $icon-color;
            text-align: center;
            vertical-align: middle;
            position: relative;
            width: 2.5rem;

            > :only-child {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:first-child {
                padding: .25rem 0 .25rem .5rem;

                > :only-child {
                    margin: auto;
                    justify-content: flex-start;
                }
            }

            &:last-child {
                padding: .25rem .5rem .25rem 0;

                > :only-child {
                    margin-left: auto;
                    justify-content: flex-end;
                }
            }
        }

        .btn-icon {
            margin-top: -.25rem;
            margin-bottom: -.25rem;
        }
    }

    &:not(.table-bordered) {
        thead th {
            border-top-color: transparent;
            border-bottom-width: $table-border-width;
            border-bottom-color: $table-border-color;
        }
    }

    thead th {
        font-size: $font-size-xs;
        text-transform: uppercase;
    }
}

@include media-breakpoint-down(xs) {
    html:not(.embedded) {
        .table {
            th, td {
                &:first-child {
                    padding-left: #{.5rem + $edge-margin};

                    &.table-icon {
                        width: #{2.5rem + $edge-margin}
                    }
                }

                &:last-child {
                    padding-right: #{.5rem + $edge-margin};

                    &.table-icon {
                        width: #{2.5rem + $edge-margin}
                    }
                }
            }
        }
    }
}

.table-fixed {
    table-layout: fixed;
}

.table-muted {
    th, td {
        color: $text-muted;

        &:not(.table-icon) {
            a {
                color: $text-muted;
            }
        }


        &.table-icon:first-child {
            opacity: $opacity-muted;
        }
    }
}

.table-trashed {
    @extend .table-muted;

    th, td {
        text-decoration: line-through;
    }
}

tr[data-href] {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    transition: background-color linear 400ms;
}


// table with content in folder
.table-content {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
    }
    // modified
    td:nth-child(3), th:nth-child(3) {
        width: 11.25rem; // 180px; // needs to be this wide to fit MM/DD/YYYY HH:mm AM/PM
        display: none;
    }
    // type
    td:nth-child(4), th:nth-child(4) {
        display: none;
        width: 7.5rem; // 120px;
    }
    // size
    td:nth-child(5), th:nth-child(5) {
        display: none;
        text-align: right;
        width: 6.25rem; // 100px;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(md) {
        td:nth-child(5), th:nth-child(5) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(lg) {
        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }
}

.table-attachments {
    @extend .table-fixed;

    tr td {
        border-top-color: transparent;
    }

    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
}

.table-people, .table-members {
    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        max-width: 1px; // needed for text-truncate
        @include text-truncate;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }
    }
}


.table-roles {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%; // 160px
        @include text-truncate;
    }
    // description
    td:nth-child(3), th:nth-child(3) {
        width: 10rem;
        @include text-truncate;
        display: none;
    }
    // members
    td:nth-child(4), th:nth-child(4) {
        width: 5.5rem; // 85px;
        @include text-truncate;
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }
        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(md) {
        td:nth-child(2), th:nth-child(2) {
            width: 10rem; // 160px
        }

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
            width: 100%;
        }


    }
}

.table-spaces {
    @extend .table-fixed;

    thead {
        display: none;
    }

    .table-muted .badge-info {
        color: $white;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // description
    td:nth-child(3), th:nth-child(3) {
        width: 100%;
        @include text-truncate;
        display: none;
    }
    // members
    td:nth-child(4), th:nth-child(4) {
        width: 5.5rem; // 85px;
        @include text-truncate;
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }
    // show columns on larger devices
    @include media-breakpoint-up(lg) {
        td:nth-child(2), th:nth-child(2) {
            width: 20rem;
        }

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }
}

// table with url + icon
.table-urls {
    // url
    td:nth-child(1), th:nth-child(1) {
        width: 100%;
        white-space: nowrap;
        @include text-truncate;
    }

    td:nth-child(2), th:nth-child(2) {
        width: 3rem;
    }
}


// tables with icon + name + description
.table-manage {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // description
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(2), th:nth-child(2) {
            width: 10rem; // 200px;
        }

        td:nth-child(3), th:nth-child(3) {
            width: 100%;
            display: table-cell;
            @include text-truncate;
        }
    }
}

// tables with icon + name + description + icon
.table-extensions {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // description
    td:nth-child(3), th:nth-child(3) {
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(md) {
        thead {
            display: table-header-group;
        }

        td:nth-child(2), th:nth-child(2) {
            width: 12.5rem; // 200px;
        }

        td:nth-child(3), th:nth-child(3) {
            width: 100%;
            display: table-cell;
            @include text-truncate;
        }
    }
}

.table-daemons {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // last
    td:nth-child(3), th:nth-child(3) {
        width: 10rem; // 160px;
        display: none;
    }
    // next
    td:nth-child(4), th:nth-child(4) {
        width: 10rem; // 160px;
        display: none;
    }
    // schedule
    td:nth-child(5), th:nth-child(5) {
        width: 10rem; // 160px;
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(5), th:nth-child(5) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(md) {
        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }

        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }
}


.table-logs {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // modified
    td:nth-child(3), th:nth-child(3) {
        width: 11.25rem; // 180px; // needs to be this wide to fit MM/DD/YYYY HH:mm AM/PM
        display: none;
    }
    // size
    td:nth-child(4), th:nth-child(4) {
        display: none;
        text-align: right;
        width: 6.25rem; // 100px;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(md) {
        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }
}


.table-signups {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // type
    td:nth-child(3), th:nth-child(3) {
        width: 6rem;
        display: none;
    }
    // status
    td:nth-child(4), th:nth-child(4) {
        width: 6rem;
        display: none;
    }
    // icons
    td:nth-child(5), th:nth-child(5) {
        width: 4.5rem;
        text-align: right;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }
    // show columns on larger devices
    @include media-breakpoint-up(md) {

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }
}

// tables with icon + name + icon
.table-stars, .table-drafts, .table-trash, .table-users {
    @extend .table-fixed;

    td {
        height: 3rem;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
}

// table with people that liked, voted or subscribed to something
.table-users {
    margin-bottom: 0;

    tr td {
        border: none;
    }

    td:nth-child(1), th:nth-child(1) {
        padding-left: 0;
        width: 2.5rem;
        text-align: left;

        > * {
            right: auto;
            justify-content: flex-start;
            margin-left: 0;
        }
    }
}

.table-recycle-bin {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // kind
    td:nth-child(3), th:nth-child(3) {
        width: 8rem;
        @include text-truncate;
        display: none;
    }
    // trashed by
    td:nth-child(4), th:nth-child(4) {
        width: 11.25rem;
        @include text-truncate;
        display: none;
    }
    // trashed
    td:nth-child(5), th:nth-child(5) {
        width: 11.25rem; // 180px; // needs to be this wide to fit MM/DD/YYYY HH:mm AM/PM
        display: none;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(5), th:nth-child(5) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(md) {
        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(lg) {
        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }
}


// table on test page
.table-test {
    @extend .table-fixed;

    thead {
        display: none;
    }

    tr:first-child td {
        border-top-color: transparent;
    }
    // name
    td:nth-child(2), th:nth-child(2) {
        width: 100%;
        @include text-truncate;
    }
    // description
    td:nth-child(3), th:nth-child(3) {
        width: 100%;
        @include text-truncate;
        display: none;
    }
    // type
    td:nth-child(4), th:nth-child(4) {
        width: 6rem;
        @include text-truncate;
        display: none;
    }
    // icons
    td:nth-child(5), th:nth-child(5) {
        width: 4.5rem;
    }
    // show columns on larger devices
    @include media-breakpoint-up(sm) {
        thead {
            display: table-header-group;
        }

        td:nth-child(4), th:nth-child(4) {
            display: table-cell;
        }
    }

    @include media-breakpoint-up(lg) {
        td:nth-child(2), th:nth-child(2) {
            width: 20rem;
        }

        td:nth-child(3), th:nth-child(3) {
            display: table-cell;
        }
    }
}
