@{
    Layout = null;


    var firstSpace = -1;
    if (!SpaceService.GetByPermission(Permission.View).IsNullOrDefault()) {
        firstSpace = SpaceService.GetByPermission(Permission.View).First().Id;
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Widget Panels</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="/javascript/weavy.js"></script>

    <style>
        html, body {
            overflow-x: hidden;
            background: #666;
        }

        .i {
            width: 1.5rem;
            height: 1.5rem;
            fill: currentColor;
        }

        .navbar {
            height: 3.5rem;
        }

        .navbar-brand img {
            width: 2rem;
            height: 2rem;
        }

        .weavy-drawer {
            position: fixed;
            top: 3.5rem;
            bottom: 0;
            z-index: 1039;
            transition: transform, opacity;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            right: 0;
            width: 20rem;
            transform: translateX(20rem);
            pointer-events: none;
            border-left: 1px solid #333;
        }

        .weavy-drawer.weavy-drawer-in {
            transform: none;
        }

        .weavy-panel-block {
            width: 320px;
            height: 472px;
            border: 1px solid #333;
            border-radius: 3px;
            display: none;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-light">
        <a class="navbar-brand mr-auto" href="#">@Html.IconImg(24) Navbar</a>
        <a id="weavyRightButtonPersonal" class="nav-link p-2">@Svg.Icon("bell")</a>
        <a id="weavyRightButtonMessenger" class="nav-link p-2">@Svg.Icon("weavy-messenger")</a>
    </nav>

    <div class="container-fluid py-3">
        <div class="py-3">
            <button id="weavyApiTest" class="btn btn-primary">Invoke api</button>
        </div>

        <div>
            <button id="weavyPanelBlockToggle" class="btn btn-danger">A-team</button>
            <div id="weavyPanelBlock" class="weavy-panel-block"></div>
        </div>
        <div class="weavy-panel-right">
            <div id="weavyPanelRight" class="weavy-drawer"></div>
        </div>

    </div>


    <script>
        (function ($) {

            // RIGHT SLIDING DRAWER
            // TOGGLED BY BUTTONS

            var weavyRight = window.weavyRight = new Weavy(Weavy.presets.panel, {
                container: $("#weavyPanelRight"),
                className: "weavy-default",
                id: "right",
                plugins: {
                    alert: true,
                    panels: {
                        controls: true
                    },
                    theme: {
                        styles: ".weavy-wide { background: none !important; } .weavy-wide .weavy-panels .weavy-panel { top: 3.5rem !important; width: 100vw !important; }"
                    }
                }
            });
            weavyRight.addPanel("messenger", "/messenger");
            weavyRight.addPanel("personal", "notifications");
                        
            weavyRight.on("open", function () {
                $("#weavyPanelRight").addClass("weavy-drawer-in");
            });

            weavyRight.on("close", function () {
                $("#weavyPanelRight").removeClass("weavy-drawer-in");
                weavyRight.nodes.container.classList.remove("weavy-wide");
            });

            weavyRight.on("load", function () {
                if (weavyRight.isAuthenticated()) {
                    weavyRight.alert("Right Weavy loaded");
                    weavyRight.preloadFrames();
                }
            });

            function setBadge(selector, count) {
                if (count > 0) {
                    var $badge = $(selector + " .badge");
                    if ($badge.length) {
                        $badge.text(count);
                    } else {
                        $('<span class="badge badge-info">' + count + '</span>').appendTo(selector);
                    }
                } else {
                    $(selector + " .badge").remove();
                }

            }

            function invokeApi() {
                // SPACES
                // search for a space name
                weavyRight.ajax("/api/spaces/search", { q: "marketing" }).then(function (response) {
                    weavyRight.alert("Search for 'marketing' resulted in " + response.data.length + " hit(s).");
                });                

                // get a space with a specific id
                weavyRight.ajax("/api/spaces/1").then(function (response) {
                    weavyRight.alert("Getting Space with id 1: " + response.name);
                }).fail(function (message) {
                    weavyRight.alert("Could not find any space  with id 1! [" + message + "].");
                });

                // list all apps in a specific space
                weavyRight.ajax("/api/spaces/1/apps").then(function (response) {
                    weavyRight.alert("Found " + response.length + " apps in space 1.");
                });

                // add members to a specific space
                weavyRight.ajax("/api/spaces/1/members", { members: [1, 2] }, "POST").then(function (response) {                    
                    weavyRight.alert("Added members " + response.map(function (u) { return u.username }) + " to space 1.");
                });
                // create a new space
                //weavyRight.ajax("/api/spaces", { name: "myspace " + new Date().getTime()}, "POST").then(function (response) {
                //    console.log(response)
                //});                
                
                // POSTS
                // create a new post in a Posts App
                //weavyRight.ajax("/api/apps/3/posts", { text: "This is a post!" }, "POST");

                // USERS
                // search for users
                weavyRight.ajax("/api/users", { q: "admin" }).then(function (response) {
                    weavyRight.alert("Search for user 'admin' resulted in " + response.data.length + " hit(s).");
                });;
            }

            weavyRight.on("badge", function (e, data) {
                setBadge("#weavyRightButtonPersonal", data.notifications);
                setBadge("#weavyRightButtonMessenger", data.conversations);
            });

            $("#weavyRightButtonPersonal").on("click", weavyRight.toggle.bind(weavyRight, "personal"))
            $("#weavyRightButtonMessenger").on("click", weavyRight.toggle.bind(weavyRight, "messenger"))
            $("#weavyApiTest").on("click", invokeApi)




            // EXPANDING PANEL
            // TOGGLED BY BUTTONS

            var weavyBlock = window.weavyBlock = new Weavy(Weavy.presets.core, {
                container: $("#weavyPanelBlock"),
                className: "",
                id: "block",
                plugins: {
                    panels: {
                        controls: {
                            close: true,
                            expand: false
                        }
                    }
                }
            });

            // Link the alerts
            weavyBlock.alert = weavyRight.alert;

            weavyBlock.on("load", function () {
                weavyBlock.addPanel("space-@firstSpace", "/spaces/@firstSpace/");

                if (weavyBlock.isAuthenticated()) {
                    weavyBlock.alert("Toggle Weavy loaded");
                }
            });

            $("#weavyPanelBlockToggle").on("click", weavyBlock.toggle.bind(weavyBlock, "space-@firstSpace"));

            weavyBlock.on("open", function () {
                $("#weavyPanelBlock").slideDown();
            });

            weavyBlock.on("close", function () {
                $("#weavyPanelBlock").slideUp();
            });


        })(jQuery);
    </script>
</body>
</html>
