@using System.Linq;
@using Weavy.Utils
@{
    Title = "Cloud Pickers Test";
    Back = Url.Action<TestController>(c => c.Index());
    var fid = 34;
    var f = ContentService.Get<Folder>(fid);
}

@if(f == null)
{
    <div class="alert alert-warning">
        NOTE! Folder with id [@fid] does not exist! To test this out, please specify an existing Folder id.
    </div>
}

@Html.FAB(f)


@{
    Html.RenderPartial("~/Areas/Apps/Views/Shared/_AttachModal.cshtml", new ViewDataDictionary { { "content_path", $"/a/content/{f?.Id}/content" } });
    Html.RenderPartial("_ContentModal");
    Html.RenderPartial("_OfficeModal");
}
@section scripts{

    <script>

        // FOR RESEARCH ONLY - NO PRODUCTION CODE!

        @*var loadIframe = function (origin) {
            $("#filebrowser").attr("src", "https://filebrowser.weavycloud.com?origin=" + origin);
            $("#filebrowser").show();
        };

        var pickerHelpers = (function () {

            var addLink = function (link) {
                $link = $("<div><a href='" + link + "'>" + link + "<a/></div>");
                $("#links").append($link);
            }

            return {
                addLink: addLink
            }
        })();

        $(function () {
            if (wvy.browser.framed) {
                var pickerId =  "filebrowser-" + Math.random().toString().substr(2);
                wvy.postal.postToParent({ name: 'request:origin', weavyId: pickerId });
                wvy.postal.one("origin", pickerId, function (e) {
                    loadIframe(e.data.url);
                });
            } else {
                loadIframe("@Request.Url.GetLeftPart(UriPartial.Authority)");
            }

            // Messages from filebrowser.weavycloud.com
            window.addEventListener("message", function (e) {
                if (e.origin === "https://filebrowser.weavycloud.com" && e.data.name === "insert") {
                    pickerHelpers.addLink(e.data.link);
                    console.log("Message", e)
                    alert("Top window received file: " + e.data.link)
                }

            })
        });*@

    </script>


}
