@{
    // create token valid for 60 seconds
    var token = JwtUtils.Encode(new Dictionary<string, string> {
        { "iss", "SSO TEST"}, // required
        { "sub", "ssotest-sub"}, // required
        { "email", "ssotest2@weavy.com"}, // required
        { "username", "ssotest2"},
        { "name", "SSO Test 2"},
        { "picture", "https://image.freepik.com/free-vector/businessman-profile-cartoon_18591-58479.jpg" }
    }, 60);

}

@section scripts {
    <script id="timeout-scripts">
        console.log("timeout-scripts");

        var token;
        var tokenTimeout = null;
        var setTokenTimeout = () => {
            tokenTimeout && clearTimeout(tokenTimeout);
            tokenTimeout = setTimeout(() => {
                wvy.alert.danger("SSO Token has expired, reload to get a new token.")
            }, 60 * 1000);
        };
    </script>

    <script id="button-scripts">
        console.log("button-scripts");
        $(document).on("click", "#status", function () {
            console.info("checking authentication status using AJAX");
             $.ajax({
                 url: '/a/users/me',
                 method: "GET"
             }).done(function (data) {
                 // display result
                 $("#result").text(JSON.stringify(data, null, 2));
             }).fail(function (xhr,status,error) {
                 // display result
                 $("#result").text(status + ": " + error);
             });
        });

        $(document).on("click", "#signout", function () {
            console.info("signing out using ajax");
             $.ajax({
                 url: '/sign-out',
                 method: "GET"
             }).done(function (data) {
                 // display result
                 $("#result").text("signed-out");
             }).fail(function (xhr,status,error) {
                 // display result
                 $("#result").text(error);
             });
        });

        $(document).on("click", "#ajax", function () {
            console.info("signing in with token using AJAX");
             $.ajax({
                 url: '@(Url.Action<AccountController>(x => x.SignInToken(null)))',
                 method: "POST",
                 data: 'jwt=' + token
             }).done(function (data) {
                 // display result
                 $("#result").text(JSON.stringify(data, null, 2));
             }).fail(function (xhr,status,error) {
                 // display result
                 $("#result").text(error);
             });
        });

        $(document).on("click", "#signalr", function () {
            console.info("signing in with token using signalR");
            wvy.connection.default.sso(token);
            wvy.connection.default.connect().then(function () {
                $("#result").text("signalR signed-in " + wvy.connection.default.isAuthenticated());
            })
        });

        $(document).on("click", "#signalr-disconnect", function () {
            console.info("disconnecting signalR");
            wvy.connection.default.disconnect().then(function () {
                $("#result").text("signalR disconnected");
            })
        });

        $(document).on("click", "#turbolinks-reload", function () {
            console.info("reloading page via Turbolinks");
            $(document).one("turbolinks:load", () => {
                $("#result").text("Reloaded token: " + token);
            })
            Turbolinks.visit(window.location.toString(), { action: 'replace' });
        });

        $(() => {
            wvy.connection.default.on("user-change.connection", (e, data) => {
                console.log("user-change.connection", e, data);
                $("#result").text(JSON.stringify(data, null, 2));
            });

            wvy.connection.default.on("signed-in.connection", (e, data) => {
                console.log("signed-in.connection", e, data);
                Turbolinks.visit(window.location.toString(), { action: 'replace' });
                $("#result").text("signed-in.connection");
            });

            wvy.connection.default.on("authentication-error.connection", (e, data) => {
                console.log("authentication-error.connection", e, data);
                $("#result").text("signalR authentication failed");
            });
        })

        $(document).on("turbolinks:load", () => {
            $(".alerts .alert").alert('close');
            setTokenTimeout();
        });

    </script>
}

<div class="container m-3">
    <button type="button" class="btn btn-primary" id="status">Status check</button>
    <button type="button" class="btn btn-primary" id="signout">Sign out</button>
    <button type="button" class="btn btn-primary" id="ajax">Sign in with JWT Token AJAX</button>
    <button type="button" class="btn btn-primary" id="signalr">Sign in with JWT Token signalR</button>
    <button type="button" class="btn btn-primary" id="signalr-disconnect">Disconnect signalR</button>
    <button type="button" class="btn btn-primary" id="turbolinks-reload">Turbolinks reload</button>
    <pre class="line-numbers language-js"><code class="language-js" id="result" data-turbolinks-permanent>Token: @token</code></pre>
</div>

@section footer {

    <script id="footer-scripts">
        console.log("footer-scripts");

        token = "@token";
        console.log("token", token);
        setTokenTimeout();
    </script>
}
