@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = ViewBag.Title as string ?? "Notify";
    var message = ViewBag.Message as string;
}

<div class="container mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-6">
            <div class="text-center mb-3">
                @Html.IconImg(48)
            </div>
            <h1 class="display-3 text-center">@(ViewBag.Title as string)</h1>
            <p>@message</p>
        </div>
    </div>
</div>


@if (Title == "Notify") {
    <script id="@(User.IsAuthenticated() ? "signedInScript" : "signedOutScript")">
        $(function () {

            @if (User.IsAuthenticated()) {
                <text>var message = { name: "signed-in" };</text>
            } else {
                <text>var message = { name: "signed-out" };</text>
            }

            wvy.postal.postToParent(message);

            if (window.opener !== null) {
                window.close();
            }
        });
    </script>
}
