@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Signing in, please wait...";
}

<div class="container">
    <div class="text-center my-5">
        <p>Signing in...</p>
        @Svg.Spinner(spin: true, size: 48)
    </div>
</div>
