@{
    ViewBag.Title = "Signing in, please wait...";
}

<div class="container">
    <div class="text-center my-5">
        <h1>Signing in</h1>
        <h3>Please wait...</h3>
        @Html.SvgSpinner(spin: true, size: 48)
    </div>
</div>
