@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = T["Signing in, please wait..."].ToString();
}

<div class="container">
    <div class="text-center my-5">
        <p>@T["Signing in..."]</p>
        @Svg.Spinner(spin: true, size: 48)
    </div>
</div>
