<div class="modal fade" id="ajax-modal" tabindex="-1" role="dialog" aria-labelledby="ajax-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg scroll-y" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title" id="ajax-modal-title"></h5>
                <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="@T["Close"]">
                    @Svg.Icon("close")
                </button>
            </div>
            @Svg.Spinner()
            <div class="modal-body scroll-y"></div>
        </div>
    </div>
</div>
