@if (WeavyContext.App.HasPermission(Permission.Content) || WeavyContext.Content.HasPermission(Permission.Content)) {
    <div class="modal" id="upsert-content-modal" tabindex="-1" role="dialog" aria-labelledby="create-content-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                        @Html.SvgIcon("close")
                    </button>
                </div>
                @Html.SvgSpinner()
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
}
