<div class="modal fade" id="move-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title">Move post</h5>
                <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">@Html.SvgIcon("close")</button>
            </div>
            @Html.SvgSpinner()
            <div class="modal-body"></div>
        </div>
        <form class="modal-content d-none"></form>
    </div>
</div>
