<div id="share-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="share-form" class="modal-content" action="@(Url.Action<ShareController>(x => x.Insert(null)))" method="post">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title">Share</h5>
                <button type="button" class="btn btn-icon" data-dismiss="modal" aria-label="Close">
                    @Svg.Icon("close")
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" name="Text" data-editor-location="share" placeholder="@Html.Raw("Use @ to mention the people you want to share this with.")"></textarea>
                <div class="invalid-feedback"></div>
            </div>
            <div class="modal-footer border-top-0">
                <input type="hidden" name="EntityType" value="" />
                <input type="hidden" name="EntityId" value="" />
                <button type="submit" class="btn btn-primary btn-load">Share</button>
            </div>
        </form>
    </div>
</div>
