@model IEnumerable<User>
<table class="table table-userlist">
@foreach (User user in Model) {
    <tr data-href="@user.Url()">
        <td class="table-icon">@user.AvatarImg(size:32)</td>
        <td><a href="@user.Url()">@user.GetTitle()</a> <small>@@@user.Username</small></td>
    </tr>
}
</table>
