@model App
@{
    Title = T["Add tab"].ToString();
    Back = ViewData.ModelState.IsValid ? Url.Back(Model.Url()) : WeavyContext.Space.Url();
    ViewData["turboform"] = true;
}
<div class="container mt-3">
    @{ Html.RenderPartial("_New", Model); }    
</div>

@if (Html.HasHtmlEditor()) {
    @section scripts{
        @Html.InitHtmlEditor()
    }
}
