@model User

<header class="pane-header">
    <div class="navbar navbar-secondary">
        <div class="navbar-middle">@Model.GetTitle()</div>
        <div class="navbar-icons">
            <button class="btn btn-icon" type="button" data-hide="drawer-user">@Svg.Icon("close")</button>
        </div>
    </div>
</header>

<div class="drawer-body drawer-body-padded scroll-y">
    @{ Html.RenderPartial("_DrawerUserBody"); }
</div>
