@{
    ViewBag.Title = "Closed";
}
<main>
    <h1>Signups are not available</h1>
    <h2>@Theme.Name is not accepting sign ups. Please contact an administrator and ask for an account.</h2>
    <div class="buttons">
        <button type="submit" class="button" data-message='{"name": "closeWindow" }'>Close</button>
    </div>
</main>
