@{
    ViewBag.Title = "Pending";
}
<main>
    <h1>Waiting for approval</h1>
    <h2>Your sign-up request is being reviewed and we’ll let you know as soon as it has been approved.</h2>
    <div class="buttons">
        <button type="submit" class="button" data-message='{"name": "setUrl", "url": "@WeavyContext.ApplicationUrl", "redirect": "@ONBOARDING_URL" }'>Close</button>
    </div>
</main>
