// Normal
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 100;
  src: local('Segoe UI Thin'), local('Segoe UI Light');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 200;
  src: local('Segoe UI Light');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Semilight');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 500;
  src: local('Segoe UI Medium'), local('Segoe UI Semibold');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe UI Semibold');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 800;
  src: local('Segoe UI Semiblack'), local('Segoe UI Black');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  src: local('Segoe UI Black');
}

// Italic
@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 100;
  src: local('Segoe UI Thin Italic'), local('Segoe UI Light Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 200;
  src: local('Segoe UI Light Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 300;
  src: local('Segoe UI Semilight Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  src: local('Segoe UI Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 500;
  src: local('Segoe UI Medium Italic'), local('Segoe UI Semibold Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 600;
  src: local('Segoe UI Semibold Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 700;
  src: local('Segoe UI Bold Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 800;
  src: local('Segoe UI Semiblack Italic'), local('Segoe UI Black Italic');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 900;
  src: local('Segoe UI Black Italic');
}
