/// <reference path="../_core.scss" />

// Positions top, right, bottom, left (t, r, b, l)
// Examples: .t-1 .t-sm--3 t-lg-auto
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (top: t, right: r, bottom: b, left: l) {
            @each $size, $length in $spacers {

                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }

            }
            
            // Some special distance utils
            .#{$abbrev}#{$infix}-auto {
                #{$prop}: auto !important;
            }
        }
    }
}

@mixin sticky-bottom {
    @supports (position: sticky) {
        position: sticky;
        bottom: 0;
        z-index: $zindex-sticky;
    }
}

// Icon positioning etc
.top-right {
    position: absolute;
    top: $card-spacer-y;
    right: $card-spacer-y;
    bottom: auto;
    left: auto;
}

.top-left {
    position: absolute;
    top: $card-spacer-y;
    right: 0;
    bottom: auto;
    left: $card-spacer-y;
}

.z-fixed {
    z-index: $zindex-fixed;
}

.z-sticky {
    z-index: $zindex-sticky;
}

.z-behind {
    z-index: -1;
}

.z-over {
    z-index: 100;
}

.sticky-bottom {
    @include sticky-bottom;
}
