@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pong</title>
    @Bundler.Scripts("~/scripts/vendor/jquery/jquery.min.js", "~/scripts/src/postal.js")
</head>
<body>
    pong
</body>
</html>
