// custom variables
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;
$font-size-xs: .75rem; // 9pt 12px
$font-size-xxs: .625rem; // 7.5pt 10px

$font-weight-thin: 200;
$font-weight-light: 400; // 300 is incorrectly displayed as 200 on chrome/win
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-strong: $font-weight-medium;
$font-weight-black: 800;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$line-height-lg: 1.6; // Makes font-size 20 (1.25rem) -> 32px
$line-height-sm: 1.42858; // 1/0.7 Makes font-size 14 (0.875rem) -> 20px

$light-blue: #36ACE2 !default;
$deep-purple: #773BDE !default;
$deep-orange: #E17637 !default;
$light-green: #7CD345 !default;
$amber: #E7BD32 !default;
$lime: #C1E335 !default;

$opacity-faded: .15;
$opacity-muted: .55;
$opacity-disabled: .65;
$opacity-hover: .75;
$opacity-panel: .95;
$opacity-backdrop: .75;
$opacity-backdrop-theme: .85;

$shades: ( 50: 98%, 100: 96%, 200: 88%, 300: 77%, 400: 66%, 500: 55%, 600: 44%, 700: 33%, 800: 22%, 900: 12% ) !default;

$theme: #156B93 !default;
$theme-50: #F6FBFE !default;
$theme-100: #EDF8FC !default;
$theme-200: #C9E9F7 !default;
$theme-300: #98D4F0 !default;
$theme-400: #67C0E9 !default;
$theme-500: #36ACE2 !default;
$theme-600: #1C8FC4 !default;
$theme-700: #156B93 !default;
$theme-800: #0E4862 !default;
$theme-900: #082736 !default;

$enable-backdrop-filter: true;
$backdrop-filter: blur(.5rem); // saturate(130%) blur(.5rem)

$cover-gradient-start: mix($theme-500, #134595, 40%) !default; // blue-700
$cover-gradient-end: mix($theme-500, #1EBFC2, 40%) !default; // cyan-600

$navbar-height: 3rem;
$sidebar-left-width: 16rem;

$backdrop-bg: rgba(0, 0, 0, $opacity-backdrop); // (opacity ~.54)
$icon-color: rgba(0, 0, 0, $opacity-muted); // (opacity ~.54) see http://google.github.io/material-design-icons/#styling-icons-in-material-design

// material design animation and shadows from https://fezvrasta.github.io/bootstrap-material-design/
$md-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$md-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$md-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$md-animation-curve-default: $md-animation-curve-fast-out-slow-in !default;
$md-animation-duration: .2s;
$md-animation-duration-fast: .1s;

$md-shadow-umbra-opacity: 0.2 !default;
$md-shadow-penumbra-opacity: 0.14 !default;
$md-shadow-ambient-opacity: 0.12 !default;

$md-black: #000;

$md-shadow-focus: 0 0 .5rem rgba($md-black, .18), 0 .5rem 1rem rgba($md-black, .36);
$md-shadow-2dp: 0 .125rem .125rem 0 rgba($md-black, $md-shadow-penumbra-opacity), 0 .1875rem .0625rem -.125rem rgba($md-black, $md-shadow-umbra-opacity), 0 .0625rem .3125rem 0 rgba($md-black, $md-shadow-ambient-opacity);
$md-shadow-3dp: 0 .1875rem .25rem 0 rgba($md-black, $md-shadow-penumbra-opacity), 0 .1875rem .1875rem -.125rem rgba($md-black, $md-shadow-umbra-opacity), 0 .0625rem .5rem 0 rgba($md-black, $md-shadow-ambient-opacity);
$md-shadow-4dp: 0 .25rem .3125rem 0 rgba($md-black, $md-shadow-penumbra-opacity), 0 .0625rem .625rem 0 rgba($md-black, $md-shadow-ambient-opacity), 0 .125rem .25rem -.0625rem rgba($md-black, $md-shadow-umbra-opacity);
$md-shadow-6dp: 0 .375rem .625rem 0 rgba($md-black, $md-shadow-penumbra-opacity), 0 .0625rem 1.5rem 0 rgba($md-black, $md-shadow-ambient-opacity), 0 .1875rem .3125rem -.0625rem rgba($md-black, $md-shadow-umbra-opacity);
$md-shadow-8dp: 0 .5rem .625rem .0625rem rgba($md-black, $md-shadow-penumbra-opacity), 0 .1875rem 1.25rem .125rem rgba($md-black, $md-shadow-ambient-opacity), 0 .3125rem .3125rem -.1875rem rgba($md-black, $md-shadow-umbra-opacity);
$md-shadow-16dp: 0 1rem 2.25rem .125rem rgba($md-black, $md-shadow-penumbra-opacity), 0 .375rem 1.875rem .3125rem rgba($md-black, $md-shadow-ambient-opacity), 0 .5rem .625rem -.3125rem rgba($md-black, $md-shadow-umbra-opacity);
$md-shadow-24dp: 0 .5625rem 4.375rem .5rem rgba($md-black, $md-shadow-penumbra-opacity), 0 1.0625rem 1.3125rem -.4375rem rgba($md-black, $md-shadow-ambient-opacity), 0 2.25rem 3.5rem .1875rem rgba($md-black, $md-shadow-umbra-opacity);

$md-shadow-8dp-width: (1.25rem + .125rem);

// bootstrap overrides (colors generated by setting theme color to #156B93)
$white: #FCFCFC !default;
$gray-50: #FAFAFA !default;
$gray-100: #F5F5F5 !default;
$gray-200: #E0E0E0 !default;
$gray-300: #C4C4C4 !default;
$gray-400: #A8A8A8 !default;
$gray-500: #8C8C8C !default;
$gray-600: #707070 !default;
$gray-700: #545454 !default;
$gray-700: #545454 !default;
$gray-800: #383838 !default;
$gray-900: #1F1F1F !default;
$black: #171717 !default;

$blue: #3478E5 !default;
$indigo: #3241E7 !default;
$purple: #BC4BCE !default;
$pink: #D54487 !default;
$red: #DE4B3B !default;
$orange: #E3A135 !default;
$yellow: #E9DA2F !default;
$green: #53C657 !default;
$teal: #45D391 !default;
$cyan: #38DDE0 !default;

$colors: ( 
    "light-blue": $light-blue, 
    "deep-purple": $deep-purple, 
    "deep-orange": $deep-orange, 
    "amber": $amber, 
    "light-green": $light-green, 
    "lime": $lime 
);

$primary: $theme-500; // $blue
$secondary: $gray-400; // $gray-600
$success: $teal; // $green
$info: $light-blue; // $cyan
$warning: $amber; // $yellow

$theme-colors: ( 
    "theme": $theme,
    "transparent": transparent
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 186;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-800; // $gray-900;
$yiq-text-light: $white;

$enable-caret: false;
$enable-shadows: true;

$spacer: 1rem; // 1rem

// Negative spacers added
$spacers: (
  -5: ($spacer * -3),
  -4: ($spacer * -1.5),
  -3: ($spacer * -1),
  -2: ($spacer * -.5),
  -1: ($spacer * -.25),
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$body-bg: $white; // $white
$body-color: $gray-800; // $gray-900

$panel-bg: $gray-100;
$panel-color: $gray-700;

$link-color: $theme-600; // theme-color("primary")
$link-hover-color: darken($link-color, 15%); // darken($link-color, 15%)
$link-hover-decoration: none; // underline

$grid-gutter-width: 1.5rem; // 30px;



// Border-width is 1 pixel to always be hairline sharp
$border-width: 1px; // .0625rem; // 1px;
$border-color: $gray-200; // $gray-300;
$border-color-dark: $gray-800;

$border-radius: .1875rem; // .25rem
$border-radius-lg: .1875rem; // .3rem
$border-radius-sm: .1875rem; // .2rem

// TODO: Map these to md-shadows
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

$component-active-color: $white;
$component-active-bg: $primary;

$headings-line-height: 1.25; // 1.2

$display1-size: 2.5rem;// 3rem; // 6rem
$display2-size: 2rem; // 2.5rem; // 5.5rem
$display3-size: 1.75rem; // 2rem; // 4.5rem
$display4-size: 1.5rem; // 1.5rem; // 3.5rem

$display1-weight: $font-weight-thin; // 300
$display2-weight: $font-weight-thin; // 300
$display3-weight: $font-weight-thin; // 300
$display4-weight: $font-weight-thin; // 300

$display-line-height: 1.33333333;

$lead-font-size: 1.125rem; // ($font-size-base * 1.25)
$lead-font-weight: $font-weight-light; // 300

$small-font-size: 87.5% !default; // 80%

$text-muted: $gray-500 !default; // $gray-600

$blockquote-small-color: $text-muted; // $gray-600
$blockquote-font-size: 1.125rem; // ($font-size-base * 1.25)

$hr-border-color: rgba($black,.1); // rgba($black,.1)

$table-cell-padding: .75rem; //.75rem
$table-cell-padding-sm: .25rem; //.3rem

$table-hover-bg: $gray-100; //rgba($black, .075) !default;

$table-border-color: $hr-border-color; //$gray-300

$table-head-bg: $body-bg; //$gray-200;
$table-head-color: $panel-color; // $gray-700;

// Input button metrics
$input-btn-padding-y: .3125rem !default;
$input-btn-padding-x: .75rem !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: .1875rem; //.2rem;
$input-btn-focus-color: rgba($component-active-bg, .25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: .3125rem;
$input-btn-padding-x-sm: .5rem !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: .4375rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-line-height-lg: $line-height-lg !default;

$input-btn-border-width: $border-width !default

$btn-disabled-opacity: $opacity-disabled; // .65
$btn-link-disabled-color: $text-muted; // $gray-600;
$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; // background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$input-border-color: $theme-300; // $gray-400

$input-placeholder-color: $gray-500; // $gray-600

$form-check-input-margin-y: .125rem; // .25rem

$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba($black, .0625); // inset 0 .25rem .25rem rgba($black, .1);
$custom-control-indicator-checked-box-shadow: 0 0 0 1px $white; // none;
$custom-control-indicator-focus-box-shadow: 0 0 0 1px $white, $input-btn-focus-box-shadow; // 0 0 0 1px $body-bg, $input-btn-focus-box-shadow;
$custom-control-indicator-active-box-shadow: 0 0 0 1px $white; // none;
$custom-checkbox-indicator-indeterminate-box-shadow: 0 0 0 1px $white; // none;

$dropdown-padding-y: .25rem; // .5rem
$dropdown-spacer: .25rem; // .125rem;
$dropdown-border-width: 0; // $border-width;
$dropdown-box-shadow: $md-shadow-2dp;  // 0 .5rem 1rem rgba($black,.175)

$dropdown-link-active-color: $gray-900; // $component-active-color;
$dropdown-link-active-bg: $theme-100; // $component-active-bg;

$dropdown-item-padding-y: .75rem; // .25rem
$dropdown-item-padding-x: .75rem; //  1.5rem

$dropdown-header-color: $text-muted; // $gray-600

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000;
$zindex-scrollbars: 1010; // Added
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$nav-link-disabled-color: $text-muted; // $gray-600

$nav-tabs-border-color: $hr-border-color; // #ddd
$nav-tabs-border-radius: 0; // $border-radius
$nav-tabs-link-hover-border-color: $link-hover-color; // $gray-200
$nav-tabs-link-active-color: $link-color; // $gray-700
$nav-tabs-link-active-bg: transparent; // $body-bg
$nav-tabs-link-active-border-color: $link-color; // #ddd

$navbar-padding-x: $grid-gutter-width / 2; // $spacer

$pagination-bg: transparent; //$white
$pagination-border-color: transparent; // #ddd

$pagination-hover-bg: transparent; // $gray-200
$pagination-hover-border-color: transparent; // #ddd

$pagination-active-color: theme-color("primary"); // $white
$pagination-active-bg: transparent; // theme-color("primary")

$pagination-disabled-color: $text-muted; // $gray-600
$pagination-disabled-bg: transparent; // $white
$pagination-disabled-border-color: transparent; // #ddd

$card-spacer-x: 1rem; // 1.25rem
$card-cap-bg: $white; //rgba($black, .03);

$badge-font-weight: $font-weight-strong; // $font-weight-bold

$modal-inner-padding: 1rem; //15px;
$modal-dialog-margin: 3rem .5rem; //10px;
$modal-dialog-margin-y-sm-up: 2rem; //30px;
$modal-content-border-width: 0; // $border-width
$modal-content-box-shadow-xs: $md-shadow-24dp; //  0 3px 9px rgba($black,.5)
$modal-content-box-shadow-sm-up: $md-shadow-24dp; //  0 5px 15px rgba($black,.5)

$modal-backdrop-opacity: $opacity-backdrop; //.5;
$modal-header-padding: .75rem 1rem 0 1rem; // 15px

$alert-padding-x: 1rem; // 1.25rem
$alert-link-font-weight: $font-weight-strong; // $font-weight-bold
$alert-border-width: 0; // $border-width

$progress-border-radius: 0; // $border-radius

$list-group-item-padding-y: .75rem; // 75rem
$list-group-item-padding-x: .75rem; // 1.25rem

$list-group-disabled-color: $text-muted; // $gray-600

$breadcrumb-padding-y: .25rem; // .75rem
$breadcrumb-padding-x: 0; // 1rem
$breadcrumb-item-padding: 0; // .5rem

$breadcrumb-margin-bottom: 0; // 1rem

$breadcrumb-bg: transparent; // $gray-200
$breadcrumb-divider-color: $text-muted; // $gray-600
$breadcrumb-active-color: $text-muted; // $gray-600
$breadcrumb-divider: ""; // quote("/");

$breadcrumb-border-radius: 0; // $border-radius;

$close-font-weight: $font-weight-strong; // $font-weight-bold
