@using Weavy.Web.Areas.Messenger.Controllers
@model MessengerModel
@{
    var domains = SettingService.Get<Weavy.Core.Plugins.SystemSettings>().Domains;
}

<form class="invite-form" action="@Url.Action(nameof(MessengerController.SendInvites))" method="post">
    @for (int i = 0; i < 3; i++) {
        <div class="form-group">
            <div class="input-group ">
                @if (domains == null || domains?.Count == 0) {
                    <input type="text" name="emails" class="form-control" value="" placeholder="email address" />
                } else {
                    <input type="hidden" name="emails" value="" />
                    <input type="text" name="local" class="form-control" value="" placeholder="name" />
                    if (domains?.Count == 1) {
                        <input type="hidden" name="domain" value="@domains[0]" />
                        <div class="input-group-append"><div class="input-group-text">@@@domains[0]</div></div>
                    } else if (domains?.Count > 1) {
                        @Html.DropDownList("domain", domains.Select(x => new SelectListItem() { Text = "@" + x, Value = x }), new { @class = "custom-select input-group-append" })
                    }

                }
            </div>
        </div>
    }
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block d-inline">Send invites</button>
    </div>
    <p class="text-success text-center invite-success d-none">Invites sent!</p>

</form>


