@model object
@{
    var attrs = new Dictionary<string, object>();
    attrs["class"] = "form-control";

    var meta = ViewData.ModelMetadata;
    if (meta.IsRequired) {
        attrs["required"] = null;
    }

    var error = ViewData.ErrorMessage();
    if (error != null) {
        attrs.Append("class", "is-invalid");
    }

    var options = ViewData["options"] as IEnumerable<SelectListItem>;
    var optionLabel = ViewData["optionLabel"] as string;
}
@if (ViewData.RenderSurroundingHtml()) {
    WriteLiteral(@"<div class=""form-group"">");
}
@if (ViewData.RenderLabel()) {
    @Html.LabelFor(m => m)
}
@Html.DropDownList("", options, optionLabel, attrs)
@if (error != null) {
    <div class="invalid-feedback">@error</div>
} else if (ViewData.RenderDescription()) {
    <div class="form-text">@meta.Description</div>
}
@if (ViewData.RenderSurroundingHtml()) {
    WriteLiteral(@"</div>");
}
