@model long?
@{
    var prop = ViewData.ModelMetadata.ContainerType.GetProperty(ViewData.ModelMetadata.PropertyName);
    var meta = ViewData.ModelMetadata;
    var state = ViewData.ModelState[ViewData.ModelMetadata.PropertyName];
    var feedback = state?.Errors?.FirstOrDefault()?.ErrorMessage;
    bool group = ViewData["FormGroup"] as bool? ?? !meta.HideSurroundingHtml;
    bool label = ViewData["FormLabel"] as bool? ?? !meta.HideSurroundingHtml;
    bool text = (ViewData["FormText"] as bool? ?? true) && meta.Description != null;
    var attrs = new Dictionary<string, object>();
    attrs["type"] = "number";
    //attrs["type"] = "text";
    attrs["class"] = "form-control";
    if (feedback != null) {
        attrs.Append("class", "is-invalid");
    }
    if (!prop.IsEditable()) {
        attrs["class"] = "form-control-plaintext";
        attrs["readonly"] = null;
    }

    var placeholder = label ? meta.Watermark : meta.Watermark ?? meta.DisplayName;
    if (placeholder != null) {
        attrs["placeholder"] = placeholder;
    }
    if (prop.MinValue() != null) {
        attrs["min"] = prop.MinValue();
    }
    if (prop.MaxValue() != null) {
        attrs["max"] = prop.MaxValue();
    }
    if (prop.IsRequired()) {
        attrs["required"] = null;
    }
}
@if (group) {
    WriteLiteral(@"<div class=""form-group"">");
}
@if (label) {
    @Html.LabelFor(m => m)
}
@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, attrs)
@if (feedback != null) {
    <div class="invalid-feedback">@feedback</div>
} else if (text) {
    <div class="form-text">@meta.Description</div>
}
@if (group) {
    WriteLiteral(@"</div>");
}
