/// <reference path="../widget.scss" />

// Bubble buttons

.weavy-bubbles {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-height: 0;

    .weavy-bubble-item {
        flex: 0 1 auto;
        min-height: 0;

        .weavy-button {
            min-height: 0;
            flex: 0 .8 $widget-icon-size;
            justify-content: center;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 100%;
        }

        .weavy-avatar {
            width: 100%;
            height: auto;
            border-radius: $widget-icon-size / 2;
        }
    }
}

// IE flex shrink fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .weavy-bubbles {
        overflow: hidden;
        // Negative margin is needed for the tooltips to show outside the container when overflow is hidden.
        margin: -400px;
        padding: 400px;
    }
}


.weavy-bubble-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: $widget-icon-size + rem(.5);
    pointer-events: auto;
    transition: height $md-animation-duration $md-animation-curve-default;
    max-height: none;
    flex: 0 0 auto;

    &.weavy-bubble-weavy {
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &[data-type="global"] {
        .weavy-bubble-connect, .weavy-bubble-close {
            display: none;
        }
    }

    &[data-type="personal"] {
        .weavy-bubble-disconnect {
            display: none;
        }
    }

    &:not(.weavy-disabled) {
        &:hover, &:active {
            .weavy-bubble-tooltip {
                display: inline;
            }

            .weavy-bubble-close {
                opacity: 1;
                transform: translate(rem(.25), rem(-.75));

                @media (max-height: 479px) {
                    transform: translate(rem(.75), rem(-.5));
                }

                pointer-events: auto;
            }

            .weavy-button.weavy-open {
                ~ .weavy-bubble-action {
                    pointer-events: auto;
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }

            &.weavy-loading {
                .weavy-button.weavy-open {
                    ~ .weavy-bubble-connect, ~ .weavy-bubble-disconnect {
                        // Disabled state
                        pointer-events: none;
                        opacity: $opacity-disabled;
                    }
                }
            }
        }
    }

    &.weavy-removed {
        height: 0 !important;
        min-height: 0 !important;
        pointer-events: none !important;
        overflow-y: hidden;

        .weavy-button {
            transform: scale(0) !important;
        }
    }

    &.weavy-disabled {
        &, & * {
            pointer-events: none;
        }
    }
}

.weavy-bubble-action {
    position: absolute;
    right: 0;
    width: rem(1.25);
    height: rem(1.25);
    margin: rem(.125);
    display: flex;
    cursor: pointer;
    pointer-events: none;
    transition: transform $md-animation-duration $md-animation-curve-default, opacity $md-animation-duration $md-animation-curve-default;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 2;

    &.weavy-bubble-close {
        top: 0;
        transform: translate(-50%, 50%);
    }

    &.weavy-bubble-connect, &.weavy-bubble-disconnect {
        bottom: 0;
        transform: translate(-50%, -50%);

        @media (max-height: 479px) {
            display: none;
        }
    }

    @media (pointer: coarse) {
        display: none;
    }

    svg {
        fill: $text-muted;
        height: rem(1);
        width: rem(1);
        margin: rem(.125);
    }

    &.weavy-bubble-close::before {
        content: "";
        position: absolute;
        z-index: -1;
        padding: rem(.375);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 92%, 0.9);
        background-clip: content-box;
    }

    &:hover, &:active {
        svg {
            fill: $link-color;
        }
    }
}


.weavy-bubble-tooltip {
    font-family: $font-family-base;
    white-space: nowrap;
    position: absolute;
    right: $widget-icon-size + rem(.625);
    top: calc(50% - #{rem(1.75) / 2});
    height: rem(1.75);
    z-index: 1234567890;
    background: $gray-100;
    padding: 0 rem(.5);
    border-radius: $border-radius;
    pointer-events: all;
    transition: opacity linear 0.1s;
    box-shadow: $md-shadow-4dp;
    display: none;
    color: $body-color;

    .weavy-bubble-tooltip-text {
        font-family: $font-family-base;
        color: $gray-700;
        font-size: rem(1);
        margin: 0;
        padding: rem(.125) 0;
        vertical-align: middle;
    }

    a {
        padding: rem(.1875);
        pointer-events: all;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            fill: $icon-color;
            height: rem(1.25);
            width: rem(1.25);
        }

        &:hover, &:active {
            svg {
                fill: $link-color;
            }
        }
    }
}
