/// <reference path="../widget.scss" />

// Buttons

.weavy-button {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0 rem(.125) rgba($link-color, 0);
    border-radius: rem(1.5);
    background-color: $white;
    cursor: pointer;
    width: $widget-icon-size;
    height: $widget-icon-size;
    min-height: $widget-icon-size;
    margin: rem(0.25) rem(.375);
    pointer-events: all;
    justify-content: center;
    transition: transform $md-animation-duration $md-animation-curve-default, background-color $md-animation-duration $md-animation-curve-default, flex-shrink $md-animation-duration step-end;
    z-index: 3;
    // Needed to prevent scroll blocking in context page
    backface-visibility: hidden;

    &.weavy-button-transparent {
        background-color: transparent;
        box-shadow: none;

        svg {
            fill: $theme;
        }
    }

    &:hover, &:active {
        box-shadow: 0 0 0 rem(.125) rgba($link-color, 0.2);
        color: $link-color;

        svg {
            fill: $link-color;
        }
    }

    &.weavy-open {
        background-color: $white;
        transform: translateX(rem(-1));
        box-shadow: $md-shadow-4dp;
        align-self: flex-end;

        ~ .weavy-button-tooltip {
            display: none !important;
        }

        &, &:not(.weavy-button-personal) > img {
            border-radius: 0 rem(1.5) rem(1.5) 0;
        }
    }

    &:active {
        ~ .weavy-button-tooltip {
            display: none !important;
        }
    }

    &.weavy-loading {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            // spinner.svg encoded with https://codepen.io/jakob-e/pen/doMoML
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3Eg%7Banimation:rotate 2s linear infinite;transform-origin:center center%7Dcircle%7Bstroke-dasharray:1,100;stroke-dashoffset:0;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite%7D@keyframes rotate%7B100%25%7Btransform:rotate(360deg)%7D%7D@keyframes dash%7B0%25%7Bstroke-dasharray:1,100;stroke-dashoffset:0%7D50%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-17.5px%7D100%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-62px%7D%7D@keyframes color%7B0%25,100%25%7Bstroke:%23216eb4%7D40%25%7Bstroke:%2328b7cf%7D66%25%7Bstroke:%23216eb4%7D80%25,90%25%7Bstroke:%2328b7cf%7D%7D%3C/style%3E%3Cg%3E%3Ccircle fill='none' cx='12' cy='12' r='11.5' stroke-linecap='butt' stroke-width='1' /%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-size: rem(2.5);
            opacity: 0.5;
            z-index: 4;
        }
    }
}

