/// <reference path="../widget.scss" />

// Collapsed and minimized widget mode

&.weavy-collapsed:not(.weavy-open):not(.weavy-no-collapse) {
    .weavy-dock {
        transform: scale(0.8);
        transform-origin: center right;
        min-height: $widget-icon-size + rem(.5);
        pointer-events: auto;
        cursor: pointer;

        &:hover, &:active {
            &::after {
                display: block;
                border-width: rem(.125/.8);
            }
        }
    }

    &.weavy-left .weavy-dock {
        transform-origin: center left;
    }

    &:not(.weavy-drag) {
        &:not(.weavy-before-drag) .weavy-dock {
            transition: transform 0.2s ease-out;
        }

        .weavy-button-container, .weavy-button, .weavy-bubble-action {
            pointer-events: none !important;
        }
    }

    .weavy-button.weavy-loading {
        &::before {
            display: none;
        }
    }

    .weavy-button.weavy-button-messenger.weavy-dot {
        background-color: transparent;
    }

    .weavy-button-container-personal, .weavy-button-container-messenger {
        height: $widget-icon-size;
    }

    .weavy-conversation {
        height: 0;
        opacity: 0;
    }

    .weavy-bubbles {
        &::before {
            height: 0;
            margin: 0 rem(.25);
        }

        .weavy-button-container {
            height: rem(1.5);

            .weavy-button {
                transform: scale(.75);
                flex-shrink: 0;
                transition: transform $md-animation-duration $md-animation-curve-default, background-color $md-animation-duration $md-animation-curve-default;
            }
        }
    }

    .weavy-button-container-start {
        svg {
            opacity: 0;
        }
        height: $widget-icon-size - rem(1);
    }


    &.weavy-minimized {
        .weavy-button-container {
            height: rem(0) !important;

            .weavy-button {
                background: transparent !important;
                box-shadow: none;
            }
        }

        .weavy-icon, .weavy-avatar, .weavy-button-container-personal svg {
            opacity: 0;
        }

        .weavy-button-container-weavy {
            opacity: 1;
            height: $widget-icon-size + rem(.75) !important;

            .weavy-button {
                margin: rem(.375)
            }

            .weavy-avatar {
                opacity: 1;
            }
        }
    }
}
