/// <reference path="../widget.scss" />

// Full window preview mode

&.weavy-preview, &.weavy-left.weavy-preview {
    .weavy-panels {
        width: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: none;


        .weavy-panel:not(.weavy-open) {
            visibility: hidden;
            max-width: $widget-panel-width;
        }

        .weavy-panel.weavy-open {
            position: fixed;
            border-radius: initial;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: none;
            max-width: none;
            width: 100%;
            
            .weavy-controls {
                display: none;
            }

            .weavy-panel-frame {
                background-color: transparent;
            }
        }

    }
}

.weavy-panel-frame {
    transition: background-color $md-animation-duration $md-animation-curve-default;
}
