/// <reference path="../widget.scss" />

// Strip frames

.weavy-strips {
    position: absolute;
    top: 0;
    right: $widget-icon-size + rem(1.75);
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.weavy-strip {
    position: absolute;
    top: rem(1);
    right: 0;
    bottom: rem(1);
    width: calc(100% - #{rem(1)});
    max-width: $widget-strip-width;
    left: auto;
    opacity: 0;
    box-shadow: $md-shadow-8dp;
    pointer-events: none;
    transform: translateX(rem(1));
    border-radius: $widget-border-radius;
    overflow: hidden;
    z-index: 4;

    .weavy-controls {
        position: absolute;
        top: rem(.5);
        right: rem(2.5);
        width: rem(2);
        display: none;
        z-index: 10000;

        .weavy-collapse {
            display: none;
        }

        .weavy-icon {
            color: $white;
        }
    }

    &.weavy-open {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0);
        transition: opacity $md-animation-duration $md-animation-curve-default, transform $md-animation-duration $md-animation-curve-default;
        z-index: 5;

        &.weavy-loading {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                // spinner.svg encoded with https://codepen.io/jakob-e/pen/doMoML
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3Esvg%7Banimation:rotate 2s linear infinite;transform-origin:center center%7Dcircle%7Bstroke-dasharray:1,100;stroke-dashoffset:0;animation:dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite%7D@keyframes rotate%7B100%25%7Btransform:rotate(360deg)%7D%7D@keyframes dash%7B0%25%7Bstroke-dasharray:1,100;stroke-dashoffset:0%7D50%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-17.5px%7D100%25%7Bstroke-dasharray:44.5,100;stroke-dashoffset:-62px%7D%7D@keyframes color%7B0%25,100%25%7Bstroke:%234A69CF%7D40%25%7Bstroke:%23C96C4F%7D66%25%7Bstroke:%23D2D246%7D80%25,90%25%7Bstroke:%235DBB78%7D%7D%3C/style%3E%3Ccircle fill='none' cx='12' cy='12' r='10' stroke-linecap='round' stroke-miterlimit='5' stroke-width='2' /%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: rem(3);
            }

            &.weavy-loading-fill::after {
                background-color: $body-bg;
            }
        }

        .weavy-controls {
            display: flex;
        }
    }
}

.weavy-strip-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
    background: $white;
}
