/// <reference path="../widget.scss" />

// Wide expanded strip mode

&.weavy-wide {
    &.weavy-open {
        background-color: $backdrop-bg;
    }

    .weavy-strips {
        .weavy-strip.weavy-open {
            max-width: none;
            width: calc(100% - #{$widget-icon-size + rem(1.75 + .5)});
        }

        @include media-breakpoint-down(sm) {
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;

            .weavy-strip.weavy-open {
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 0;
                width: auto;
            }
        }
    }

    .weavy-controls {
        .weavy-collapse {
            display: inline-flex;
        }

        .weavy-expand {
            display: none;
        }
    }
}
