@model Dictionary<MediaTypeHeaderValue, object>

@using System.Net.Http.Headers
@using Weavy.Core.Helpers

@{
    // group the samples into a single tab if they are the same.
    Dictionary<string, object> samples = Model.GroupBy(pair => pair.Value).ToDictionary(pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()), pair => pair.Key);
    var mediaTypes = samples.Keys;
}

<div class="nav nav-tabs">
    @foreach (var mediaType in mediaTypes.AsSmartEnumerable()) {
        <a class="nav-link @(mediaType.Index == 0 ? "active" : "")" href="#tab-@ViewBag.SampleDirection-@mediaType.Index" data-toggle="tab">@mediaType.Value</a>
    }
</div>
<div class="tab-content">
    @foreach (var mediaType in mediaTypes.AsSmartEnumerable()) {
        <div id="tab-@ViewBag.SampleDirection-@mediaType.Index" class="tab-pane@(mediaType.Index == 0 ? " active" : "")">
            <h4 class="display-4">Sample:</h4>
            @{
                var sample = samples[mediaType.Value];
                if (sample == null) {
                    <p>Sample not available.</p>
                } else {
                    @Html.DisplayFor(s => sample);
                }
            }
        </div>
                }
</div>

