@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<header class="navbar navbar-light sticky-top border-bottom px-3">
    <h6 class="navbar-title mr-auto">Stars</h6>
</header>

<div id="stars">
    @{ Html.RenderPartial("_Index"); }
</div>
