@model Weavy.Core.Models.Directory
@{
    Title = T["Add directory"].ToString();
    Back = Url.Action<DirectoriesController>(c => c.Index(null));
}

<div class="container my-3">
    @using (Html.BeginForm(nameof(DirectoriesController.Insert), null, FormMethod.Post, new { autocomplete = "off", data_turboform = "", novalidate = "" })) {
        @Html.EditorsForModel()
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary btn-load" title="Save">@T["Save"]</button>
            <a href="@Back" class="btn btn-outline-secondary mr-auto">@T["Cancel"]</a>
        </div>
    }
</div>
