@model Content
@{
    var versionable = Model as IVersionable;
}

@if (Model is ICommentable commentable && (versionable == null || versionable.IsCurrent())) {
    <section class="content-section content-comments" id="comments">
        <h4 class="display-4"><span>Comments</span></h4>
        <div class="list-group comments" data-container="comments">
            @Html.Partial("_Comments", commentable.Comments())
        </div>
        @Html.Partial("_CommentForm", commentable, new ViewDataDictionary() { { "container", ".comments" } })
    </section>
}
