@model ContentSearchResult<Content>

@if (Model.Any()) {
    foreach (var content in Model) {
        Html.RenderPartial(content, Weavy.Core.Models.Layout.Table);
    }
    <tr class="scroll-next" data-next="@Url.ScrollNext(Model)">
        <td colspan="6"></td>
    </tr>
}
