@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<header class="navbar navbar-light sticky-top border-bottom px-3">
    <h6 class="navbar-title mr-auto">Drafts</h6>
</header>

<div id="tab-drafts">
    <div class="tab-loading d-none">@Html.SvgSpinner()</div>
    <div class="tab-remote loaded" data-url="@(Url.Action<ContentController>(c => c.Drafts()))"> @{ Html.RenderPartial("~/Views/Content/_Drafts.cshtml"); }</div>
</div>
