@model Content
@{
    Layout = IsEmbedded ? "~/Views/Shared/_Layout.Embedded.cshtml" : "~/Views/Shared/_Layout.cshtml";
    Title = "Edit " + Model.MetaData().Name;
    Back = Url.Back(Model.Url());
    ViewData["turboform"] = true;
}

<div class="container mt-3">
    @{ Html.RenderPartial("_Edit", Model); }
</div>

@if (Html.HasHtmlEditor()) {
    @section scripts{
        @Html.InitHtmlEditor()
    }
}
