@model FolderBase
@{
    Title = WeavyContext.App.Name;
    var layout = ViewBag.Layout as Weavy.Core.Models.Layout?;
    var items = ViewBag.Items as SearchResult<Content, ContentQuery>;
}

@if (layout == Weavy.Core.Models.Layout.Card) {
    <div class="cards" id="infinite-scroll-target">
        @{ Html.RenderPartial("_Cards", items); }
    </div>
} else if (layout == Weavy.Core.Models.Layout.List) {
    <div class="list-group" id="infinite-scroll-target">
        @{ Html.RenderPartial("_ListItems", items); }
    </div>
} else {
    <table class="table table-hover table-content">
        <thead>
            <tr>
                <th class="table-icon"></th>
                <th>Name</th>
                <th>Modified</th>
                <th>Type</th>
                <th>Size</th>
                <th class="table-icon"></th>
            </tr>
        </thead>
        @if (items.IsNullOrEmpty()) {
            <tfoot>
                <tr>
                    <td class="empty text-center text-muted py-4" colspan="6">
                        Nothing in this folder yet.
                        @if (WeavyContext.App.HasPermission(Permission.Content)) {
                            <text>Go ahead and add some files!</text>
                        }
                    </td>
                </tr>
            </tfoot>
        }
        <tbody id="infinite-scroll-target">
            @{ Html.RenderPartial("_Rows", items); }
        </tbody>
    </table>
}
@Html.ScrollMore(items)


@section fab {
    @Model.FAB()
}

@section footer {
    @{
        Html.RenderPartial("_AttachModal");
        Html.RenderPartial("_ContentModal");
        Html.RenderPartial("_OfficeModal");
    }
}
