@import "../../../styles/bootstrap";
@import "../../../styles/components/spinner";
@import "../../../styles/components/pincode";

/// <reference path="../../../styles/_core.scss" />

// signup variables
$signup-color: #176C94;
$signup-background-color: #fff;

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: $signup-background-color;
    color: $signup-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 0 1rem 2rem 1rem;
}

form {
    margin-top: 30px;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 100;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

a, a:active, a:hover, a:focus {
    color: $signup-color;
    text-decoration: none;
    outline: 0;
}

.button {
    font-family: 'Open sans', sans-serif;
    background: $signup-background-color;
    color: $signup-color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    display: inline-flex;
    align-items: center;
    transition: .2s;
    border: 3px solid $signup-color;
    line-height: 22px;
    border-radius: 40px;
    padding: 10px 40px;
    cursor: pointer;

    &:hover {
        outline: 0;
        opacity: 1;
        background: $signup-color;
        color: $signup-background-color;
    }

    &:focus {
        outline: 0;
    }
}

.button-spin {
    background: white !important;
    width: 104px !important;

    img {
        height: 22px;
    }
}

.input-group .button {
    margin-left: 30px;
}

input[type="text"]:not(.pincode-text), input[type="password"] {
    box-shadow: none;
    border: 0;
    border-bottom: solid 1px #e0e0e0;
    padding: 10px 0 11px 0;
    font-size: 14px;
    outline: none;
    transition: border .5s, margin .5s, padding .5s;
    max-width: 100%;
    width: 100%;
    color: $signup-color;
    display: block;
    margin-bottom: 1px !important;
    height: 45px;
    background: $signup-background-color;

    &:focus {
        border-bottom: solid 2px $signup-color;
        margin: 0;
        padding-bottom: 10px;
        box-shadow: none;
        background-color: unset;
    }
}

.input-group input[type="text"], .input-group input[type="password"] {
    margin-bottom: 0 !important;
    width:1%;
}

input::-webkit-input-placeholder {
    color: #868e96 !important;
}

.pincode-container .pincode-text {
    border-color: $signup-color;
}

.buttons {
    margin-top: 40px;
    text-align: center;
}

.spinner {
    margin-top: 26px;
    height: 160px;
}

.form-group {
    height: 70px;
}

.form-text {
    font-size: 12px;
    margin-top: .5rem;
}

.field-validation-error {
    color: theme-color("danger", 400);
}

.back {
    position: absolute;
    top: $spacer;
    left: $spacer;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;

    .i {
        fill: currentColor;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 1rem;
        height: 1rem;
    }
}


@include media-breakpoint-up(sm) {
    .buttons {
        margin-top: 40px;
    }
}
