<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- remove debug attribute for Release builds -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes" mode="On" />
  </system.web>
</configuration>
