<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- set log level to Info for Release builds -->
  <nlog>
    <rules>
      <logger minlevel="Info" xdt:Transform="SetAttributes" />
    </rules>
  </nlog>
  <system.web>
    <!-- remove debug attribute for Release builds -->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
