<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="settings.config" />
  <connectionStrings>
    <add name="Weavy" connectionString="server=localhost;database=weavy;trusted_connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Common" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.1.1.0" newVersion="12.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <authentication mode="None" />
    <!-- WebDAV -->
    <authorization>
      <allow users="*" verbs="OPTIONS" />
      <deny users="?" verbs="PROPFIND" />
      <allow users="*" />
    </authorization>
    <!-- Set compilation debug="true" to insert debugging symbols into the compiled page. Because this affects performance, set this value to true only during development. -->
    <compilation debug="true" targetFramework="4.7.2" />
    <!-- Remove X-AspNet-Version HTTP header from the response, increase the max upload size to 1 GB = 1024 * 1024 KB = 1048576 KB and set execution timeout to 1 hour = 3600 seconds-->
    <httpRuntime enableVersionHeader="false" targetFramework="4.7.2" maxRequestLength="1048576" executionTimeout="3600" requestPathInvalidCharacters="" relaxedUrlToFileSystemMapping="true" maxUrlLength="2000" />
    <customErrors mode="On" defaultRedirect="~/error" />
    <caching>
      <!-- Prevents the header 'Vary: *' to be returned in the response for all GET and POST requests which will prevent IE from caching responses. See: http://stackoverflow.com/questions/2996218/why-are-my-aspx-pages-not-being-cached-on-the-client -->
      <outputCache omitVaryStar="true" />
    </caching>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="AppIcon" path="/apple-touch-icon*.png" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Attachment" path="attachments/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Avatar" path="/*/*/avatar*.*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Blob" path="/blobs/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Content" path="/content/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Embed" path="embeds/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="FavIcon" path="/favicon*.*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="File" path="files/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="ExternalFiles" path="external/*/*.*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="JavaScript" path="/javascript/*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Logs" path="manage/logs/*.log" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="Manifest" path="/manifest.json" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="DownloadItemFiles" path="items/*/*.*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="DownloadAppFiles" path="apps/*/*.*" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="TinyMceSkin" path="/styles/tinymce/weavy/*.min.css" verb="GET" type="System.Web.Routing.UrlRoutingModule" preCondition="integratedMode" />
      <add name="WebDAV Root" path="*" verb="OPTIONS,PROPFIND" type="Weavy.Web.WebDAV.DavHandler" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- GZip static file content. Overrides the server default which only compresses static files over 2700 bytes -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <!-- Configure custom IIS error pages -->
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" path="/error/400" responseMode="ExecuteURL" />
      <error statusCode="401" path="/error/401" responseMode="ExecuteURL" />
      <error statusCode="403" path="/error/403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <!-- A little extra security (by obscurity) -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <!-- WebDAV -->
      <remove name="WebDAVModule" />
      <add name="DavRoutingModule" type="Weavy.Web.WebDAV.DavRoutingModule" preCondition="integratedMode" />
    </modules>
    <security>
      <requestFiltering>
        <!-- Increase the max upload size to 1 GB = 1024 * 1024 * 1024 bytes = 1073741824 bytes -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- Assorted types -->
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <!-- PDFJS char maps -->
      <remove fileExtension=".bcmap" />
      <mimeMap fileExtension=".bcmap" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <location path="DAV">
    <!-- WebDAV -->
    <system.web>
      <httpRuntime requestPathInvalidCharacters="" relaxedUrlToFileSystemMapping="true" maxUrlLength="2000" />
      <customErrors mode="Off" />
      <authorization>
        <allow users="*" verbs="OPTIONS" />
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
      <handlers>
        <clear />
        <add name="WebDAV" path="*" verb="*" type="Weavy.Web.WebDAV.DavHandler" preCondition="integratedMode" />
      </handlers>
      <security>
        <requestFiltering allowDoubleEscaping="true">
          <fileExtensions>
            <clear />
          </fileExtensions>
          <hiddenSegments>
            <clear />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
