@model ErrorModel

@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = Model.Code + " " + Model.Description;
}
<div class="container my-4">
    <h1 class="display-1">@Model.Code @Model.Description</h1>
    @if (string.IsNullOrEmpty(Model.Message)) {

        if (User.Identity.IsAuthenticated) {
            <p>We are sorry, but your account <strong>@User.Identity.Name</strong> don't have access to the requested page.</p>
        } else {
            <p>We are sorry, but you don't have access to the requested page.</p>
        }

    } else {
        <p>@Model.Message</p>
    }
    @{ Html.RenderPartial("_Back"); }
</div>
