@model ErrorModel
@using Weavy.Web.Areas.Manage.Controllers
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = Model.Code + " " + Model.Description;
}

<div class="container my-4">
    <h1 class="display-1">Aw, Snap!</h1>
    @if (Model.Message.IsNullOrEmpty()) {
        if (User.IsAdmin) {
            <p>An error occurred while processing your request. Check the @Html.ActionLink("logfile", nameof(LogsController.Get), typeof(LogsController).ControllerName(), new { area = "Manage", name = "Weavy.log" }, new { target = "_blank" }) for details :(</p>
        } else {
            <p>An error occurred while processing your request :(</p>
        }
    } else {
        <p>@Model.Message</p>
    }
    @if (User.IsAdmin && !Model.StackTrace.IsNullOrEmpty()) {
        <pre>@if (!Model.Message.IsNullOrEmpty()){ @Model.Message<br /> }@Model.StackTrace</pre>
    }
    @{ Html.RenderPartial("_Back"); }
</div>
