@model ErrorModel

@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    Title = Model.Code + " " + Model.Description;
}

<div class="container my-4">
    <h1 class="display-1">@Model.Code @Model.Description</h1>
    @if (string.IsNullOrEmpty(Model.Message)) {
        <p>We are sorry but your account <strong>@User.Identity.Name</strong> was not authorized. Contact an administrator to resolve this issue.</p>
    } else {
        <p>@Model.Message</p>
    }
    @{ Html.RenderPartial("_Back"); }
</div>
