/// <reference path="../_core.scss" />
@mixin material-animation-fast-out-slow-in($duration: $md-animation-duration) {
    transition-duration: $duration;
    transition-timing-function: $md-animation-curve-fast-out-slow-in;
}

@mixin material-animation-linear-out-slow-in($duration: $md-animation-duration) {
    transition-duration: $duration;
    transition-timing-function: $md-animation-curve-linear-out-slow-in;
}

@mixin material-animation-fast-out-linear-in($duration: $md-animation-duration) {
    transition-duration: $duration;
    transition-timing-function: $md-animation-curve-fast-out-linear-in;
}

@mixin material-animation-default($duration: $md-animation-duration) {
    transition-duration: $duration;
    transition-timing-function: $md-animation-curve-default;
}
