@{
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<header class="navbar navbar-light sticky-top border-bottom px-3">
    <h6 class="navbar-title mr-auto">Notifications</h6>
    <button type="button" class="btn btn-icon btn-primary" data-read="notifications" title="Mark all as read">@Html.SvgIcon("check-all")</button>
</header>

<div id="tab-notifications">
    <div class="tab-loading d-none">@Html.SvgSpinner()</div>
    <div class="tab-remote loaded" data-url="@(Url.Action<NotificationController>(c => c.Index()))"> @{ Html.RenderPartial("_Index"); }</div>   
</div>


