// Custom variables and colors
@import '../../../../variables';

// Bootstrap
@import "../../../../vendor/bootstrap/functions";
@import "../../../../functions"; // override some of the default bootstrap functions
@import "../../../../vendor/bootstrap/variables";
@import "../../../../vendor/bootstrap/mixins";
@import "../../../../vendor/bootstrap/root";
//@import "../../../../vendor/bootstrap/print";
@import "../../../../vendor/bootstrap/reboot";
@import "../../../../vendor/bootstrap/type";
@import "../../../../vendor/bootstrap/images";
@import "../../../../vendor/bootstrap/code";
//@import "../../../../vendor/bootstrap/grid";
@import "../../../../vendor/bootstrap/tables";
//@import "../../../../vendor/bootstrap/forms";
//@import "../../../../vendor/bootstrap/buttons";
//@import "../../../../vendor/bootstrap/transitions";
//@import "../../../../vendor/bootstrap/dropdown";
//@import "../../../../vendor/bootstrap/button-group";
//@import "../../../../vendor/bootstrap/input-group";
//@import "../../../../vendor/bootstrap/custom-forms";
//@import "../../../../vendor/bootstrap/nav";
//@import "../../../../vendor/bootstrap/navbar";
//@import "../../../../vendor/bootstrap/card";
//@import "../../../../vendor/bootstrap/breadcrumb";
//@import "../../../../vendor/bootstrap/pagination";
//@import "../../../../vendor/bootstrap/badge";
//@import "../../../../vendor/bootstrap/jumbotron";
//@import "../../../../vendor/bootstrap/alert";
//@import "../../../../vendor/bootstrap/progress";
//@import "../../../../vendor/bootstrap/media";
//@import "../../../../vendor/bootstrap/list-group";
//@import "../../../../vendor/bootstrap/close";
//@import "../../../../vendor/bootstrap/modal";
//@import "../../../../vendor/bootstrap/tooltip";
//@import "../../../../vendor/bootstrap/popover";
//@import "../../../../vendor/bootstrap/carousel";
//@import "../../../../vendor/bootstrap/utilities";

// Additional utilities
//@import '../../../../utilities/flex';
@import '../../../../utilities/fonts';
@import '../../../../utilities/scroll';
@import '../../../../utilities/text';

// User content
@import "../../../../components/emojione";

img:not(.eo) {
    @include img-fluid;
}

.mce-content-body{
    margin: 10px;
}
