@model TrashSearchResult

<header class="navbar navbar-light sticky-top">
    <h6 class="navbar-title mr-auto px-1">@T["Recycle bin"]</h6>
</header>

<div id="tab-trash">
    <div class="tab-loading d-none">@Svg.Spinner()</div>
    <div class="tab-remote loaded" data-url="@(Url.Action<RecycleBinController>(c => c.Index()))"> @{ Html.RenderPartial("_Index"); }</div>
</div>
